TOKEN=seu_token_aqui
GUILD_ID=id_do_seu_servidor_discord
CLIENT_ID=id_da_sua_aplicacao_discord
DONO_ID=seu_id_no_discord
STAFF_CARGO_ID=id_do_cargo_staff
DONO_CARGO_ID=id_do_cargo_dono
CLIENTE_CARGO_ID=id_do_cargo_cliente
CATEGORIA_TICKETS_ID=id_da_categoria_para_tickets
CHAVE_PIX=sua_chave_pix
